### Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

creating a list which contain the data

In [11]:
data=[4,8,15,16,23,42]

creating a *Pandas Series* and printing it's elements

In [12]:
import pandas as pd
series=pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

### Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

**creating a variable of list type which contian the 10 contries name as list element**

In [13]:
contries_list=['India','China','US','Finland','Germany','Denmark','Franch','Thailand','Singapore','Australia']

For applying *pandas.Series* function to the list variable **contries_list**

In [14]:
contries=pd.Series(contries_list)

print(contries)

0        India
1        China
2           US
3      Finland
4      Germany
5      Denmark
6       Franch
7     Thailand
8    Singapore
9    Australia
dtype: object

### Q3. Create a Pandas DataFrame that contains the following data:

In [15]:
data1={
           'Name':['Alice','Bob','Claire'],
           'Age':[25,30,27],
           'Gender':['Female','Male','Female']
           }

In [16]:
dataframe=pd.DataFrame(data1)

In [17]:
print(dataframe)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

### Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In Pandas **DataFrame** is a Two-Dimentional data structure, it hold's data of multiple type's like int,string,boolean,list. it hold's data in a Tabular Format like a Sql, in a Row's and column's.  
where's the **pandas.series** is a one dimentional data strucure , it hold's data of multiple type's like int,string ,boolean, list. it hold's data like element's in list, array and the data of one column

#### Example:
opening a random file of a DataFrame type and extracting a data from it using padas function pandas.Series

In [21]:
file=pd.read_csv('sample1.csv')
print(type(file))
print(file)

<class 'pandas.core.frame.DataFrame'>
  Month   "Average"   "2005"   "2006"   "2007"   "2008"   "2009"   "2010"  \
0   May         0.1        0        0        1        1        0        0
1   Jun         0.5        2        1        1        0        0        1
2   Jul         0.7        5        1        1        2        0        1
3   Aug         2.3        6        3        2        4        4        4
4   Sep         3.5        6        4        7        4        2        8
5   Oct         2.0        8        0        1        3        2        5
6   Nov         0.5        3        0        0        1        1        0
7   Dec         0.0        1        0        1        0        0        0

    "2011"   "2012"   "2013"   "2014"   "2015"
0        0        2        0        0        0
1        1        2        2        0        1
2        3        0        2        2        1
3        7        8        2        2        3
4        5        2        5        2        5
5        1        5        2        3        0
6        1        0        1        0        1
7        0        0        0        0        1

**Extracting data in a series from the dataframe**

In [22]:
file[' "Average"']

0    0.1
1    0.5
2    0.7
3    2.3
4    3.5
5    2.0
6    0.5
7    0.0
Name:  "Average", dtype: float64

### Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions

### Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

### Q7. Create a DataFrame using multiple Series. Explain with an example.